$title-color: #262627;
$spacer: 8px;

a {
  text-decoration: none;
  color: #667878;
}

.App {
  display: flex;
  flex-direction: column;
}

.intro {
  min-height: 100vh;

  .title {
    font-size: 8em;
    width: 50px;
    padding: 0;
    line-height: .95em;
    color: $title-color;
    margin: 0;
    margin-left: 250px;
    margin-top: 100px;
  }

  .subtitle {
    font-size: 2em;
    width: 500px;
    color: #606060;
    margin: 0;
    margin-left: 250px;
    margin-top: 30px;
    /* margin: 0; */
    padding: 0;
  }

  .text {
    margin-left: 300px;
    margin-top: 50px;
    width: 450px;
    letter-spacing: .3px;
    line-height: 1.7em;
    color: #262627;
    border-left: 5px solid #769595;
    padding-left: 25px;
  }
}

.container {
  position: relative;
  width: 80%;
  padding: 50px 10%;
  min-height: 100vh;

  > .title {
    font-size: 3em;
    color: $title-color;
    margin-bottom: $spacer * 10;
  }
}

.experience {
  background-color: #fff;

  .job {
    width: 100%;
    float: left;
    margin-bottom: $spacer * 7;

    .logo {
      float: left;
      margin-right: $spacer * 5;
      width: $spacer * 10;
      display: block;
    }
    
    .info {
      float: left;
      width: $spacer * 75;
      
      > .title {
        font-size: 1.5em;
        margin: 0;
        color: #262627;
      }

      .company { 
        margin: 10px 0;
        font-weight: 500;
        color: #26262d;
      }

      .place {
        margin: 10px 0;
        font-weight: 300;
        color: #333;
        font-size: .9em;
      }

      .description {
        letter-spacing: .3px;
        line-height: 1.7em;
        color: #555555;
        padding-left: $spacer * 3;
        display: block;
        padding: 0;
        overflow: hidden;
        font-size: 1em;
      }
    }

    .projects {
      border-left: 2px solid #eff4f4;
      margin: $spacer * 5 0;

      .project-item {
        border-bottom: 1px solid #f8f8f8;
        padding: $spacer * 3 $spacer * 6;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.skill-item {
  width: 20%;
  text-align: center;
  float: left;
  
  img {
    width: $spacer * 13;
    transition: all .8s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 0 auto;
    position: relative;
    display: block;
  }

  span {
    position: relative;
    display: block;
    width: calc(100% - 48px);
    padding: $spacer * 2 $spacer * 3;
    border-radius: $spacer;
    color: #4e4e4e;
    font-weight: 700;
    margin: 0 auto;
    transition: all .8s cubic-bezier(0.23, 1, 0.320, 1);
  }

  &:hover {
    span {
      opacity: 1;
      top: 0;
    }

    img {
      filter: grayscale(50%)
    }
  }

  
}
